@import "tailwindcss";

@theme inline {
  /* 태블릿 사이즈 */
  --breakpoint-sm: 744px;
  /* 데스크탑 사이즈 */
  --breakpoint-md: 1480px;

  /* 색상 정의 */

  /* 폰트 정의 */
  --font-suit: var(--font-suit);
}

html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
